---
import Layout from "../layouts/Layout.astro";
import heroImage1 from "../assets/1.jpg";
import heroImage2 from "../assets/2.jpg";
import heroImage3 from "../assets/3.jpg";
import heroImage4 from "../assets/4.jpg";
import info1Image from "../assets/info1image.png";
import info2Image from "../assets/info2image.jpg";
import trustImage from "../assets/trustimage.png";
import Background from "../components/Background.astro";
import BrandSection from "../components/BrandSection.astro";
import CarouselSection from "../components/CarouselSection.astro";
---

<Layout title="Alquiler de proyectores">
  <Background/>
  <div class="z-50 bg-transparent py-6 px-10 md:px-40">
    <section class="mt-24 w-auto justify-center items-center flex flex-col">
      <div
        class="bg-zinc-900 w-full md:w-[24rem] rounded-2xl py-1 px-4 md:px-0 flex items-center"
      >
        <span
          class="text-white w-14 bg-gradient-to-r from-violet-600 to-orange-400 px-2 rounded-2xl py-1 font-semibold"
          >New</span
        >
        <span
          class="text-slate-300 font-semibold px-4 text-[0.8rem] md:text-[0.8rem]"
          >Unleash your creative potential with AI Photo 🎉</span
        >
      </div>
      <h1
        class="text-6xl text-white w-full md:w-[43rem] text-center font-bold mt-10 px-4 md:px-0"
      >
        Elevate Your Business with Our <span
          class="bg-gradient-to-r from-violet-600 to-orange-400 text-transparent bg-clip-text"
          >AI Photo</span
        >
      </h1>
      <h2
        class="text-slate-300 mt-10 text-center md:text-left text-2xl px-4 md:px-0"
      >
        Create Your Product Background
      </h2>
      <button
        class="bg-indigo-400 hover:bg-indigo-500 text-xl font-semibold text-white px-4 py-2 rounded-xl mt-10 flex items-center gap-2"
      >
        <svg
          viewBox="0 0 72 72"
          id="emoji"
          class="w-12 h-12 -ml-1"
          fill="#000000"
          ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
            <g id="line-supplement">
              <rect
                x="33.6248"
                y="20.0448"
                width="4.6535"
                height="32.1987"
                transform="rotate(44.93 35.952 36.144)"></rect>
            </g>
            <g id="color">
              <rect
                x="33.6248"
                y="20.0448"
                width="4.6535"
                height="32.1987"
                transform="rotate(44.93 35.952 36.144)"
                fill="#ffffff"></rect>
              <circle cx="47.5749" cy="10.9583" r="2" fill="#ffffff"></circle>
              <circle cx="56" cy="28.3101" r="2" fill="#ffffff"></circle>
            </g>
            <g id="line">
              <rect
                x="34.2628"
                y="9.2771"
                rx="0.4398"
                width="3.3851"
                height="53.5249"
                transform="rotate(44.93 35.955 36.04)"
                fill="none"
                stroke="#ffffff"
                stroke-miterlimit="10"
                stroke-width="2"></rect>
              <line
                x1="45.3062"
                x2="47.6346"
                y1="23.8732"
                y2="26.0854"
                fill="none"
                stroke="#ffffff"
                stroke-miterlimit="10"
                stroke-width="2"></line>
              <line
                x1="23.4413"
                x2="25.8379"
                y1="46.1937"
                y2="48.5844"
                fill="none"
                stroke="#ffffff"
                stroke-miterlimit="10"
                stroke-width="2"></line>
              <line
                x1="47.5749"
                x2="47.5749"
                y1="8.9583"
                y2="7.2929"
                fill="none"
                stroke="#ffffff"
                stroke-linecap="round"
                stroke-miterlimit="10"
                stroke-width="2"></line>
              <line
                x1="47.5749"
                x2="47.5749"
                y1="14.6237"
                y2="12.9583"
                fill="none"
                stroke="#ffffff"
                stroke-linecap="round"
                stroke-miterlimit="10"
                stroke-width="2"></line>
              <line
                x1="45.5749"
                x2="43.9096"
                y1="10.9583"
                y2="10.9583"
                fill="none"
                stroke="#ffffff"
                stroke-linecap="round"
                stroke-miterlimit="10"
                stroke-width="2"></line>
              <line
                x1="51.2403"
                x2="49.5749"
                y1="10.9583"
                y2="10.9583"
                fill="none"
                stroke="#ffffff"
                stroke-linecap="round"
                stroke-miterlimit="10"
                stroke-width="2"></line>
              <line
                x1="56"
                x2="56"
                y1="26.3101"
                y2="24.6447"
                fill="none"
                stroke="#ffffff"
                stroke-linecap="round"
                stroke-miterlimit="10"
                stroke-width="2"></line>
              <line
                x1="56"
                x2="56"
                y1="31.9755"
                y2="30.3101"
                fill="none"
                stroke="#ffffff"
                stroke-linecap="round"
                stroke-miterlimit="10"
                stroke-width="2"></line>
              <line
                x1="54"
                x2="52.3346"
                y1="28.3101"
                y2="28.3101"
                fill="none"
                stroke="#ffffff"
                stroke-linecap="round"
                stroke-miterlimit="10"
                stroke-width="2"></line>
              <line
                x1="59.6654"
                x2="58"
                y1="28.3101"
                y2="28.3101"
                fill="none"
                stroke="#ffffff"
                stroke-linecap="round"
                stroke-miterlimit="10"
                stroke-width="2"></line>
            </g>
          </g></svg
        >
        <span>Start Free Trial Now!</span>
      </button>
      <BrandSection/>
      <CarouselSection/>
      <div
        class="flex gap-4 w-full mt-20 px-4 md:px-0 xl:px-36 grid grid-cols-1 md:grid-cols-4"
      >
        <div
          class="w-full max-w-96 h-60 rounded-lg overflow-hidden relative shadow-lg transition-transform transform hover:scale-105 mb-4"
        >
          <img
            src={heroImage1.src}
            class="w-full h-full absolute top-0 left-0"
          />
          <div
            class="bg-black/50 backdrop-blur-lg w-full h-20 z-10 absolute bottom-0 px-5 py-2 flex flex-col"
          >
            <span class="text-white font-semibold">Lorem ipsum</span>
            <span class="text-white text-[0.8rem]"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod
              ullam, placeat tempore</span
            >
          </div>
        </div>
        <div
          class="w-full max-w-96 h-60 rounded-lg overflow-hidden relative shadow-lg transition-transform transform hover:scale-105 mb-4"
        >
          <img
            src={heroImage2.src}
            class="w-full h-full absolute top-0 left-0"
          />
          <div
            class="bg-black/50 backdrop-blur-lg w-full h-20 z-10 absolute bottom-0 px-5 py-2 flex flex-col"
          >
            <span class="text-white font-semibold">Lorem ipsum</span>
            <span class="text-white text-[0.8rem]"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod
              ullam, placeat tempore</span
            >
          </div>
        </div>
        <div
          class="w-full max-w-96 h-60 rounded-lg overflow-hidden relative shadow-lg transition-transform transform hover:scale-105 mb-4"
        >
          <img
            src={heroImage3.src}
            class="w-full h-full absolute top-0 left-0"
          />
          <div
            class="bg-black/50 backdrop-blur-lg w-full h-20 z-10 absolute bottom-0 px-5 py-2 flex flex-col"
          >
            <span class="text-white font-semibold">Lorem ipsum</span>
            <span class="text-white text-[0.8rem]"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod
              ullam, placeat tempore</span
            >
          </div>
        </div>
        <div
          class="w-full max-w-96 h-60 rounded-lg overflow-hidden relative shadow-lg transition-transform transform hover:scale-105 mb-4"
        >
          <img
            src={heroImage4.src}
            class="w-full h-full absolute top-0 left-0"
          />
          <div
            class="bg-black/50 backdrop-blur-lg w-full h-20 z-10 absolute bottom-0 px-5 py-2 flex flex-col"
          >
            <span class="text-white font-semibold">Lorem ipsum</span>
            <span class="text-white text-[0.8rem]"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod
              ullam, placeat tempore</span
            >
          </div>
        </div>
      </div>
    </section>

    <section
      class="mt-10 md:mt-24 w-auto justify-center items-center flex flex-col"
    >
      <h3
        class="text-4xl text-white w-full md:w-[43rem] text-center font-semibold mt-10 mb-10 px-4 md:px-0"
      >
        <span
          class="bg-gradient-to-r from-violet-600 to-orange-400 text-transparent bg-clip-text"
          >How</span
        > it works?
      </h3>
      <div
        class="flex flex-col md:flex-row w-full md:px-60 justify-center items-center"
      >
        <div
          class="rounded-lg bg-gradient-to-r from-violet-950 via-zinc-700 to-yellow-900 p-0.5 ml-5 w-full md:w-[24rem] h-auto mb-4 md:mb-0"
        >
          <div
            class="bg-neutral-950 text-slate-300 rounded-lg w-full h-full px-6 py-6 flex flex-col"
          >
            <span
              class="bg-zinc-900 hover:bg-slate-800 px-2 py-1 rounded-md text-slate-400 font-semibold w-16 text-center"
              >Step 1</span
            >
            <span class="text-white text-2xl mt-3">1. Upload your image</span>
            <span class="text-slate-300 text-[0.8rem] mt-3"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod
              ullam, placeat tempore</span
            >
          </div>
        </div>
        <div
          class="rounded-lg bg-gradient-to-r from-violet-950 via-zinc-700 to-yellow-900 p-0.5 ml-5 w-full md:w-[24rem] h-auto mb-4 md:mb-0"
        >
          <div
            class="bg-neutral-950 text-slate-300 rounded-lg w-full h-full px-6 py-6 flex flex-col"
          >
            <span
              class="bg-zinc-900 hover:bg-slate-800 px-2 py-1 rounded-md text-slate-400 font-semibold w-16 text-center"
              >Step 2</span
            >
            <span class="text-white text-2xl mt-3">2. Select item</span>
            <span class="text-slate-300 text-[0.8rem] mt-3"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod
              ullam, placeat tempore</span
            >
          </div>
        </div>
        <div
          class="rounded-lg bg-gradient-to-r from-violet-950 via-zinc-700 to-yellow-900 p-0.5 ml-5 w-full md:w-[24rem] h-auto mb-4 md:mb-0"
        >
          <div
            class="bg-neutral-950 text-slate-300 rounded-lg w-full h-full px-6 py-6 flex flex-col"
          >
            <span
              class="bg-zinc-900 hover:bg-slate-800 px-2 py-1 rounded-md text-slate-400 font-semibold w-16 text-center"
              >Step 3</span
            >
            <span class="text-white text-2xl mt-3">3. Download your image</span>
            <span class="text-slate-300 text-[0.8rem] mt-3"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod
              ullam, placeat tempore</span
            >
          </div>
        </div>
      </div>
    </section>

    <section
      class="w-auto justify-center items-center flex flex-col md:flex-row mt-10 md:mt-36 px-4 md:px-0"
    >
      <img
        src={info1Image.src}
        class="h-auto md:w-96 w-full rounded-xl mb-4 md:mb-0"
      />
      <div
        class="w-full md:w-[28rem] mx-auto md:mx-0 md:ml-20 text-center md:text-left"
      >
        <span class="text-white text-2xl md:text-3xl font-semibold">
          Make your products pop with <span
            class="bg-gradient-to-r from-violet-600 to-orange-400 text-transparent bg-clip-text"
            >AI-powered features</span
          >
        </span>
        <p class="text-slate-300 text-[0.7rem] mt-4">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita
          modi sed nihil iusto cupiditate nesciunt laudantium itaque dolore
          corporis repellat molestias harum nostrum cum, natus consequatur. Modi
          molestiae maiores corporis.
        </p>
        <button
          class="bg-indigo-400 hover:bg-indigo-500 text-xl font-semibold text-white px-16 py-2 rounded-lg mt-10 w-full md:w-auto justify-center flex items-center gap-2"
        >
          Explore AI Tools
        </button>
      </div>
    </section>

    <section
      class="w-auto justify-center items-center flex flex-col md:flex-row mt-10 md:mt-36 px-4 md:px-0"
    >
      <div
        class="w-full md:w-[28rem] mx-auto md:mx-0 md:mr-20 text-center md:text-left mb-4 md:mb-0"
      >
        <span class="text-white text-3xl font-semibold text-center">
          Instant <span
            class="bg-gradient-to-r from-violet-600 to-orange-400 text-transparent bg-clip-text"
            >Object Removal</span
          > for Stunning Images with AI
        </span>
        <p class="text-slate-300 text-[0.7rem] mt-4">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita
          modi sed nihil iusto cupiditate nesciunt laudantium itaque dolore
          corporis repellat molestias harum nostrum cum, natus consequatur. Modi
          molestiae maiores corporis.
        </p>
        <button
          class="bg-indigo-400 hover:bg-indigo-500 text-xl font-semibold text-white px-16 py-2 rounded-lg mt-10 w-full md:w-auto justify-center flex items-center gap-2"
        >
          Explore AI Tools
        </button>
      </div>
      <img src={info2Image.src} class="h-auto md:w-96 w-full rounded-xl" />
    </section>

    <section
      class="w-auto justify-center items-center flex flex-col mt-20 px-4 md:px-0"
    >
      <h3
        class="text-3xl md:text-4xl text-white w-full md:w-[43rem] text-center font-semibold mt-10 mb-10"
      >
        <span
          class="bg-gradient-to-r from-violet-600 to-orange-400 text-transparent bg-clip-text"
          >Trusted by <span class="text-white">2M+</span> users</span
        >
      </h3>
      <img src={trustImage.src} class="w-full md:w-auto" />
    </section>
  </div>
</Layout>
